mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/static/img/svg/symbol/sprite.svg#" + name)


mixin ServiceItem(title, text, imgSrc, imgAlt)
	.services-item
		img(src= imgSrc, alt= imgAlt).service-item-img
		h4.service-item-title= title
		p.service-item-text= text


mixin TeamItem(name, position, about, fb, tw, li,mail, imgSrc)
	.team-item
		div
			img(src= imgSrc, alt= name).team-image
			h4.team-name= name
			p.team-position= position
		p.team-about= about

		.team-social
			a(href= fb).social-fb
			a(href= tw).social-tw
			a(href= li).social-li
			a(href= mail).social-mail


mixin PortfolioItem(imgSrc, text)
	.portfolio-item
		img(src= imgSrc, alt= text).portfolio-item-img
		p.portfolio-item-text= text


mixin BlogItem(name, position, text, imgSrc)
	.blog-item
		img(src= imgSrc, alt= name).blog-img
		.blog-text-wrap
			p.blog-text= text
			h4.blog-name= name
			p.blog-position= position


mixin FooterSocial(title, link)
	li
		a(href= link).footer-social-link= title
